<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title | uppercase}}!
    </h1>
    <div> Months :
      <select>
         <option *ngFor = "let i of months">{{i}}</option>
      </select>
   </div>
<div>
<div>
<p>square root is : {{25 |sqrt}}</p>

</div>


<span *ngIf ="isAvailble; then condition1 else condition2">condition is v</span>
  <ng-template #condition1>condition1 is valid</ng-template>  
  <ng-template #condition2>conditions is inv</ng-template>
</div>

<button (click)="myclick($event)">
  Click Me
</button><br>




<router-outlet></router-outlet>
