.card{
    width:300px;
    margin-left: 20%;
    margin: 10% 37%;

}   
mat-form-field{
    margin-right: 50px;
    margin-left: 20px;
    width: 260px;
}
mat-card-title{
    font-weight: 100;
}

mat-card-title{
    text-align: center;
}

.mat-raised-button{
    position: relative;
    left: 100px;

    margin-bottom: 5px;
}
.refLogin{
    margin-left: 91px;
}
