<!--mat card starts-->
<mat-card class="card">
    <mat-card-title>FUNDOO</mat-card-title>
  <mat-card-title>Login</mat-card-title>
  
  <!--form tag to submit the value through formgroup -->
  <form [formGroup]="loginform" (ngSubmit)='submitForm(loginform.value)' novalidate>
        <div class="example-container">
         
           <!--mat formfiled for email-->
          <mat-form-field appearance="outline" matInput [ngClass]="{'has-error':!loginform.controls['Emailid'].valid}">
            <mat-label>Enter email</mat-label>
            <input type="email" matInput placeholder="Email" formControlName="Emailid" [formControl]="loginform.controls['Emailid']"
              required>
          </mat-form-field>
          <div *ngIf="submitted && loginform.controls['Emailid'].errors">
            
            <div class="validate" *ngIf="loginform.controls['Emailid'].errors.required">email is required</div>
          </div>

           <!--mat formfiled for password-->
          <mat-form-field appearance="outline" matInput [ngClass]="{'has-error':!loginform.controls['password'].valid}">
            <mat-label>Enter password</mat-label>
            <input matInput type="password" placeholder="password" formControlName="password" [formControl]="loginform.controls['password']"
              required>
          </mat-form-field>
          <div *ngIf="submitted && loginform.controls['password'].errors">
            <div class="validate" *ngIf="loginform.controls['password'].errors.required">Password is required</div>
            <div class="validate" *ngIf="loginform.controls['password'].errors.minlength">Password must be at least 6
              characters</div>
          </div>

          <br>

          <!--button to submit details-->
          <button mat-raised-button color="primary">Login</button><br>
         
          <!--button to naviagete to login page-->
          <a class="refLogin" mat-button color="primary" routerLink="../register">Register</a> 
          <a class="forgotLogin" mat-button color="primary" routerLink="../forgot">Forgot password ?</a>
          <div class="msg">{{ errormsg }}</div>
        </div>

  </form>
  <button mat-button color="primary" (click)="socialSignIn('facebook')">Sign in with Facebook</button>
  <button  mat-button color="primary" (click)="socialSignIn('google')">Sign in with Google</button> 

  

</mat-card>