.card{
    width:300px;
    margin-left: 20%;
    border-radius: 7px;
    margin: 8% 37%;
    box-shadow: 5px 5px 5px 5px #9f9ea3;
}   
mat-form-field{
    margin-right: 50px;
    margin-left: 20px;
    width: 260px;
}
mat-card-title{
    font-weight: 100;
}

mat-card-title{
    text-align: center;
}

.mat-raised-button{
    margin-left: 40px;

    
}
.msg{
    font-size: 13px;
    color: dodgerblue;
    margin-left: 30px;
}
.refLogin{
    margin-left: 191px;
    position: relative;
    top: -35px;
}
.validate{
    font-size: 10px;
    color: red; 
    position: relative;
    margin-top: -10px;  
    margin-left: 100px;
}
