<mat-dialog-content>

<mat-label>Collaborators </mat-label>
<mat-card *ngFor="let item of userdetails">
    
    {{item.lname}}{{item.fname}}
   
   <span><img src="{{item.image}}" class="userImag"></span> <div>{{item.emailid}}</div>

   <input matInput  class="ipnote" placeholder="Enter email"
   [(ngModel)]="collemail">
  <div>{{error}}</div> 
</mat-card>
<div align="right">
    <button mat-button (click)="onClose()">Cancel</button>

    <button mat-button (click)="save()">Save</button>
  </div>

</mat-dialog-content>
<!-- <mat-divider></mat-divider> -->
