


   

        <mat-toolbar fxLayout="row" fxLayoutAlign="center start">
            <mat-toolbar-row>
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                    color="primary">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <img src="../../../assets/keep_48dp.png">
                <span class="title">Fundoo</span>
                <div fxLayout="row" fxLayoutAlign="center start" >
                    <input matInput class="ip" matInput placeholder="search">
                </div>
                <a><img src="../../../assets/reset.png"></a>
            </mat-toolbar-row>
        </mat-toolbar>



