<div style="height: 90vh; width: 1024px;">

  <div fxShow="true" fxHide.lt-sm="true">
    <input class="ipnotes" *ngIf="noteshow" (click)="toggle()" placeholder="Take a note">
    <span class="iconbtn"><button mat-icon-button>
        <mat-icon class="icon">check_box</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon class="icon">brush</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="icon" (click)="file.click()">insert_photo</mat-icon>
        <input style="display: none;" type="file" #file (change)="onSelectImage($event, '01')" />
      </button>
    </span>
  </div>
  <!-- 
  <div>
       
    <app-dialogdata [listPost] = "postDataArr"></app-dialogdata>
    <app-dialog  (postData) = "onAddPost($event)"></app-dialog>
  </div> -->


  <!--note create starts-->

  <div>
    <!--notes create show hide-->
    <mat-card class="matcard" *ngIf="cardshow" [ngStyle]="{'background-color': noteform.value.color}">
      <form [formGroup]="noteform">
        <input matInput [ngStyle]="{'background-color': noteform.value.color}" class="ipnote" placeholder="Title"
          formControlName="title">

        <button mat-icon-button class="pinbtn">
          <mat-icon class="icon"><img src="../../../assets/pin.svg"></mat-icon>
        </button>
        <div *ngIf="Mainimage != ''">
          <img src="{{ Mainimage }}" alt="" class="noteImage" />
        </div>
        <input class="ipnote takenote" [ngStyle]="{'background-color': noteform.value.color}" matInput
          placeholder="Take a note ..." formControlName="desc">
        <div *ngIf="timer">
          <button mat-icon-button>
            <mat-icon class="remicon">schedule</mat-icon>
            <mat-chip class="chip">
              {{timedate}}
            </mat-chip>


          </button>
          <button mat-icon-button class="btnclose" (click)="closetime()">
            <mat-icon class="remicon">close</mat-icon>

          </button>



        </div>

        <div *ngIf="labelname != 'undefined' && labelname != null && labelname != ''">
          <mat-chip-list>
            <button mat-icon-button>
              <mat-chip style="background-color: rgba(0,0,0,0.08);">
                {{noteform.value.labelname}}
              </mat-chip>

            </button>
            <button mat-icon-button class="remicon" (click)="labelname =null">
              <mat-icon style="margin-left:25px; font-size: 17px;">close</mat-icon>
            </button>
          </mat-chip-list>


        </div>
        <span class="spanbutton">
          <button mat-icon-button class="pinbtn" [matMenuTriggerFor]="remainder">
            <mat-icon class="icon">notification_important</mat-icon>
          </button>
          <button mat-icon-button class="pinbtn">
            <mat-icon class="icon" [matMenuTriggerFor]="colorMenu">color_lens</mat-icon>
          </button>
          <button mat-icon-button class="pinbtn">
            <mat-icon class="icon">archive</mat-icon>
          </button>
          <button mat-icon-button class="pinbtn">
            <mat-icon class="icon">person_add</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="icon" (click)="file.click()">insert_photo</mat-icon>
          </button>
          <input style="display: none;" type="file" #file (change)="onSelectImage($event, '01')" />

          <button mat-icon-button class="pinbtn">
            <mat-icon class="icon" [matMenuTriggerFor]="moreopt">more_vert</mat-icon>
          </button>
          <button mat-button class="close" (click)="noteSubmit(noteform.value)">Close</button>
        </span>
      </form>
    </mat-card>


    <!--notes remainder -->
    <div align="center" *ngIf="date_panel">
      <mat-card class="datecard">
        <button mat-icon-button class="pinbtn" [matMenuTriggerFor]="remainder" (click)="datetime(datetimeform.value)">
          <mat-icon class="icon">keyboard_backspace</mat-icon>
        </button>
        <mat-label>select date and time</mat-label>
        <mat-divider></mat-divider>

        <form [formGroup]="datetimeform">
          <mat-form-field class="dateinput">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="datetime">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>time</mat-label>
            <mat-select [(value)]="selected" formControlName="valuee">

              <mat-option value="13:00">Afternon <span>13:00</span></mat-option>
              <mat-option value="18:00">Evening <span>18:00</span> </mat-option>
              <mat-option value="21:00">Night <span>21:00</span> </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>set </mat-label>
            <mat-select [(value)]="selected" formControlName="value">
              <mat-option>None</mat-option>
              <mat-option value="Daily">Daily </mat-option>
              <mat-option value="Weekly">Weekly</mat-option>
              <mat-option value="Monthly">Monthly</mat-option>
              <mat-option value="yearly">Yearly</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button (click)="datetime(datetimeform.value)" [matMenuTriggerFor]="remainder">save</button>
        </form>
      </mat-card>
    </div>
    <!--note remainder ends-->
  </div>
  <!--note create ends-->


  <!--notes show in grid and list view -->
  <div cdkDropList (cdkDropListDropped)="drop($event)" class="flexcard" fxLayout="{{direction}} wrap" fxLayoutGap="50px"
    fxLayoutAlign="start center">
    <mat-card cdkDrag btnhover [ngStyle]="{'background-color': n.color}" *ngFor="let n of notes"
      [ngClass]="direction == 'row' ? 'row': 'column' ">
      <div class="cardtext" (click)=openNotes(n)>
        <div>
          <img src="{{ n.image }}" alt="" class="noteImage" />
        </div>
        <p class="para">{{n.title}}</p>
        <p class="para"> {{n.description}}</p>
        <p class="para"> </p>
      </div>
      <div *ngIf="notes_timer && n.reminder!=null && n.reminder!='' && n.reminder!='undefined' ">
        <mat-chip-list>
          <button mat-icon-button>
            <mat-chip style="background-color: rgba(0,0,0,0.08);
            " [matMenuTriggerFor]="remainder">
              <mat-icon class="remicon">schedule</mat-icon>
              {{n.reminder}}
            </mat-chip>

          </button>
          <button mat-icon-button class="btnclose" (click)="notestools(n.id,'','delete')">
            <mat-icon class="remicon">close</mat-icon>

          </button>

        </mat-chip-list>


      </div>

      <div *ngIf="notes_timer && n.labelname!=null   ">
        <mat-chip-list>
          <button mat-icon-button routerLink="labelsdisplay" (click)="setLabel(l.id)">
            <mat-chip style="background-color: rgba(0,0,0,0.08);
            ">

              {{n.labelname}}
            </mat-chip>

          </button>
          <button mat-icon-button class="btnclose" (click)="addLabel(n.labelname,n.id,'delete')">
            <mat-icon class="remicon">close</mat-icon>

          </button>

        </mat-chip-list>


      </div>


      <div *ngFor="let l of labels">
        <div *ngIf="l.id==noteform.value.lid">
          <mat-chip-list>
            <button mat-icon-button>
              <mat-chip style="background-color: rgba(0,0,0,0.08);">
                {{nlabel}}
              </mat-chip>

            </button>
            <button mat-icon-button class="remicon" (click)="labelname =null">
              <mat-icon style="margin-left:25px; font-size: 17px;">close</mat-icon>
            </button>
          </mat-chip-list>

        </div>
      </div>


      <!-- [style.display]="'none'" -->
      <!-- <div  >      -->
      <span class="spanbtn">
        <button mat-icon-button class="pinbtn" matTooltip="Remainder" (click)="datetime(datetimeform.value)"
          [matMenuTriggerFor]="remainder">
          <mat-icon class="icon" (click)="rem_id = n.id">notification_important</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="buttonMenu" class="pinbtn">
          <mat-icon class="icon" (click)="noteform.value.id=n.id">color_lens</mat-icon>
        </button>
        <button mat-icon-button class="pinbtn">
          <mat-icon class="icon" (click)="notestools(noteform.value.id = n.id,1,'Archive')">archive</mat-icon>
        </button>
        <button mat-icon-button class="pinbtn">
          <mat-icon class="icon">person_add</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="icon" (click)="file.click()">insert_photo</mat-icon>
        </button>
        <input style="display: none;" type="file" #file (change)="onSelectImage($event, n.id)" />
        <button mat-icon-button class="pinbtn">
          <mat-icon class="icon" (click)="noteform.value.id=n.id" [matMenuTriggerFor]="moreopt">more_vert</mat-icon>
        </button>
      </span>
      <!-- </div> -->
    </mat-card>
  </div>
  <!--notes show in grid and list view ends-->

  <mat-menu [overlapTrigger]="false" #buttonMenu="matMenu">
    <div class="colorbtn">
      <button *ngFor="let item of defaultColors" matTooltip="Yellow"
        (click)="notestools(noteform.value.id,item,'color')" mat-mini-fab class="colorlens"
        [ngStyle]="{'background': item}"></button>
    </div>

  </mat-menu>

  <mat-menu [overlapTrigger]="false" #colorMenu="matMenu">
    <div class="colorbtn">
      <button *ngFor="let item of defaultColors" matTooltip="Yellow" (click)="noteform.value.color = item" mat-mini-fab
        class="colorlens" [ngStyle]="{'background': item}"></button>
    </div>

  </mat-menu>

  <mat-menu #remainder="matMenu" class="matmenu">
    <mat-label>Remainder</mat-label>
    <button mat-menu-item (click)="todayy(01,rem_id)">Later today : 8PM</button>
    <button mat-menu-item (click)="tomorrow(01,rem_id)">Tomorrow : 8PM</button>
    <button mat-menu-item (click)="nextWeek(01)">next week</button>

    <button mat-menu-item (click)="date_panel = true">pick date and time</button>
  </mat-menu>


  <mat-menu #moreopt="matMenu" class="matmenu">

    <button mat-menu-item (click)="deletenote(noteform.value.id,'1')">Delete note</button>
    <button mat-menu-item [matMenuTriggerFor]="labelMenu">Add label</button>
    <button mat-menu-item>Add Drawing</button>

    <button mat-menu-item>Make a copy</button>
    <button mat-menu-item>Show tick boxes</button>
    <button mat-menu-item>Copy to Google Docs</button>


  </mat-menu>

</div>

<mat-menu [overlapTrigger]="false" #labelMenu="matMenu">
  <div class="colorbtn">
    <!-- <mat-list-item>
      <a mat-list-item role="listitem" *ngFor="let l of labels">
        <mat-icon class="icon">label</mat-icon><span class="notes">{{l.label}}</span>
      </a>
    </mat-list-item> -->
    <!-- <button mat-menu-item >
     
    </button> -->
    <mat-checkbox *ngFor="let l of labels" (click)="noteform.value.lid = l.id" (click)="labelname=l.labelname"
      (click)="addLabel(l.id,noteform.value.id,'add')" (click)="lid=l.id"> {{ l.labelname }}</mat-checkbox>
  </div>
</mat-menu>