<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <!-- <div ng-app="" ng-init="firstname='john'">
        <p>Name : <input type="text" ng-model="name"> </p>
        <p ng-bind="name"></p>
        <p >name is <span ng-bind="firstname"></span> </p>
        <p>{{name}}</p>
    </div> -->


    <div ng-app="myapp" ng-controller="myctrl">
        FName : <input type="text" ng-model="fname"><br>
        LName : <input type="text" ng-model="lname"><br>
        <br>
        full name is {{fname+" "+lname}}
    </div>

    <script>
        var app = angular.module('myapp', []);
        app.controller('myctrl', function($scope) {
            $scope.fname= "John";
            $scope.lname= "Doe";
        });
    </script>
</body>
</html>