
<div fxFlex="33" fxLayout="column" ></div>

<mat-card fxLayout="column"  fxLayout="center center" fxFlex="33">


    <mat-card-title>Forgot password</mat-card-title>

      <div  fxLayout="column"  fxLayout="center center" fxFlex="">
      <form >
        <div fxLayout="column" fxLayoutAlign="space-evenly center">
          <mat-form-field appearance="outline" matInput>
            <mat-label>Enter email</mat-label>
            <input type="email" matInput placeholder="Email" required>
          </mat-form-field>

          <mat-form-field appearance="outline" matInput>
            <mat-label>Enter email</mat-label>
            <input type="email" matInput placeholder="Email" required>
          </mat-form-field>
        </div>
      </form>
    </div>
 

 
</mat-card>

<div fxLayout="column" fxFlex="33"></div>

