<div class="flexdiv" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="card">
    <mat-card-title>Forgot password</mat-card-title>
    <form [formGroup]="loginform" (ngSubmit)='submitForm(loginform.value)' novalidate>
      <mat-form-field appearance="outline" matInput>
        <mat-label>Enter email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="Emailid"
          [formControl]="loginform.controls['Emailid']" required />
        <mat-error *ngIf="submitted && loginform.controls['Emailid'].errors">
          <div class="validate" *ngIf="loginform.controls['Emailid'].errors.pattern">enter valid email</div>
          <div class="validate" *ngIf="loginform.controls['Emailid'].errors.required">email is required</div>
        </mat-error>
      </mat-form-field>

      <button fxLayout="row" mat-raised-button color="primary">forgot</button><br>

      <div align="center">{{ errormsg }}</div>
    </form>
  </mat-card>
</div>
