.flexdiv{
    position: relative;
    top: 100px;
}
.card{
    width: 350px;
}
mat-card-title{
    text-align: center;
    font-weight: 100;
    color: royalblue
}
mat-form-field{
    margin-top: 10px;
    margin-left: 30px;
    width : 280px;
}
button{
    margin-left: 125px;
}