.card{
    width:300px;
    margin-top: 5%;
    // margin: 8% 0% 0% 30%;
    margin-left: 37%;
}
mat-form-field{
    margin-right: 50px;
    margin-left: 20px;
    width: 260px;
}

mat-card-title{
    text-align: center;
}

.mat-raised-button{
 
    margin-left: 110px;
    margin-bottom: 5px;  
}
mat-card-title{
    font-weight: 100;
}


.refReg{
    margin-left: 108px;
}
.validate{
    font-size: 10px;
    color: red; 
    position: relative;
    margin-top: -10px;  
    margin-left: 100px;
}