.card{
    width:300px;
    margin-top: 5%;
    // margin: 8% 0% 0% 30%;
    margin-left: 37%;
    border-radius: 7px;
}
mat-form-field{
    margin-right: 50px;
    margin-left: 20px;
    width: 260px;
}

mat-card-title{
    text-align: center;
}

.mat-raised-button{
 
    margin-left: 40px;
     
}
mat-card-title{
    font-weight: 100;
}

.msg{
    font-size: 10px;
    color: dodgerblue;
    margin-left: 10px;
}


.refReg{
    margin-left: 190px;
    position: relative;
    top: -35px;
}
.validate{
    font-size: 10px;
    color: red; 
    position: relative;
    margin-top: -10px;  
    margin-left: 100px;
}