.ipnote{
  margin-top: 20px;

    font-size: 16px;
    width: 100%;
    line-height: 34px;
    border: none;
    outline: none;
  }
  ::ng-deep .mat-dialog-container {
    border-radius: 10px;
  }
  .icon{
    color: #6F6F6F;
    padding:3px 10px;
    
  }
  .close{
    margin-left: 270px;
  }
  .remicon{
    margin-left: 10px;
  }
  .colorbtn {
    padding-top: 8px;
    width: 160px;
    padding-bottom: 8px;
  }