<body [ngStyle]="{'background-color': data.notesdata.color}">
  <mat-dialog-content [formGroup]="form">

    <input [ngStyle]="{'background-color': data.notesdata.color}" class="ipnote" formControlName="title" value="{{title}}">

    <input [ngStyle]="{'background-color': data.notesdata.color}" class="ipnote" formControlName="description"
      value="{{description}}">



  </mat-dialog-content> 
<div  *ngIf="notes_timer && n.remainder!=null && n.remainder!='' ">
  <mat-chip-list>
    <button mat-icon-button>
      <mat-chip style="background-color: rgba(0,0,0,0.08);
      " [matMenuTriggerFor]="remainder"> <mat-icon class="remicon">schedule</mat-icon>
     {{rem}}
    </mat-chip>
      
    </button>
    <button mat-icon-button class="btnclose" style="margin-left: 104px;" >
        <mat-icon class="remicon">close</mat-icon>

      </button>
    
  </mat-chip-list>

</div>
  <mat-dialog-actions>
      <span class="spanbutton">
          <button mat-icon-button class="pinbtn" (click)="datetime(datetimeform.value)" [matMenuTriggerFor]="remainder">
            <mat-icon class="icon">notification_important</mat-icon>
          </button>
          <button mat-icon-button class="pinbtn">
            <mat-icon class="icon" matTooltip="Change color " [matMenuTriggerFor]="buttonMenu">color_lens</mat-icon>
          </button>
          <button mat-icon-button class="pinbtn">
            <mat-icon class="icon">archive</mat-icon>
          </button>
          <button mat-icon-button class="pinbtn">
            <mat-icon class="icon">person_add</mat-icon>
          </button>
          <button mat-icon-button class="pinbtn">
            <mat-icon class="icon" [matMenuTriggerFor]="moreopt">more_vert</mat-icon>
          </button>
          <button mat-button class="close" (click)="close(form.value)">Close</button>
        </span>
  </mat-dialog-actions>
  <mat-menu [overlapTrigger]="false" #buttonMenu="matMenu">
    <div class="colorbtn">
    <button *ngFor="let item of defaultColors" matTooltip="Yellow" (click)="data.notesdata.color =item" mat-mini-fab
      class="colorlens" [ngStyle]="{'background': item}"></button>
</div>
  </mat-menu>


  <mat-menu #moreopt="matMenu" class="matmenu">

    <button mat-menu-item (click)="deletenote()">Delete note</button>
    <button mat-menu-item (click)="addLabel(n.id)" [matMenuTriggerFor]="labelMenu">Add label</button>
    <button mat-menu-item>Add Drawing</button>

    <button mat-menu-item>Make a copy</button>
    <button mat-menu-item>Show tick boxes</button>
    <button mat-menu-item>Copy to Google Docs</button>


  </mat-menu>
</body>