<div class="flexcard" fxLayout="{{direction}} wrap" fxLayoutGap="50px" fxLayoutAlign="start center">

  <mat-card class="matdiv" btnhover *ngFor="let items of notes" [ngClass]="direction == 'row' ? 'row': 'column' "
    [ngStyle]="{'background-color': items.color}">
    <div class="cardtext">
      <p class="para">{{items.title}}</p>
      <p class="para"> {{items.description}}</p>
      <p class="para">
        <mat-chip> {{items.reminder}}</mat-chip>
      </p>
    </div>
    <span class="spanbtn">
      <button mat-icon-button class="pinbtn" *ngFor="let item of maticons">
        <mat-icon class="icon">{{item}}</mat-icon>
      </button>
    </span>

  </mat-card>

</div>