<mat-dialog-content>
  <form [formGroup]="labelform">
    <mat-label>Edit Labels</mat-label>
    <div>
      <button mat-icon-button class="btnclose">
        <mat-icon class="remicon">close</mat-icon>
      </button>
      <mat-form-field>
        <input matInput placeholder="create new label" formControlName="labelname">
      </mat-form-field>

      <button mat-icon-button class="btnclose" (click)="closes(labelform.value)">
        <mat-icon class="remicon">check</mat-icon>
      </button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <mat-nav-list>

     <label role="listitem" *ngFor="let item of labels">
      <button mat-icon-button class="btnclose">
        <mat-icon class="remicon">label</mat-icon>
      </button>
     <span class="notes">{{item.label}}</span>
      <button mat-icon-button class="btnclose">
        <mat-icon class="remicon">delete_outline</mat-icon>
      </button>
    </label >



  </mat-nav-list>
</mat-dialog-actions>