<mat-dialog-content>
  <form [formGroup]="labelform">
    <mat-label>Edit Labels</mat-label>
    <div>
      <button mat-icon-button class="btnclose">
        <mat-icon class="remicon">close</mat-icon>
      </button>
      <mat-form-field>
        <input matInput placeholder="create new label" formControlName="labelname">
      </mat-form-field>

      <button mat-icon-button class="btnclose" (click)="closes(labelform.value)">
        <mat-icon class="remicon">check</mat-icon>
      </button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <mat-nav-list>
    <a mat-list-item role="listitem" *ngFor="let item of labels">
      <mat-icon class="icon" routerLinkActive="mat-accent">label</mat-icon><span
        class="notes">{{item.label}}</span>
    </a>

  </mat-nav-list>
</mat-dialog-actions>